body {
    width: 100%;
    margin: 0;
    background-color: #fafafa;
}
article {
    font-variant-numeric: oldstyle-nums;
}

#rh-subnav {
    display: none;
}

article div {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
}

h2#timer-text, h2#yes-no {
    font-size: 250px;
    letter-spacing: -15px;
    color: #C70039;
    margin: -50px auto;
    text-align: center;
}

h2#timer-text + p, h2#yes-no + p, h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 31px;
    letter-spacing: 1px;
    color: #333;
    margin: auto;
    max-width: 800px;
    text-transform: uppercase;
    text-align: center;
}

article p {
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-family: 'PT Serif', serif;
    font-size: 24px;
    line-height: 30px;
}

article li {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    font-family: "PT Serif", serif;
}

.circle-yellow {
    width: 36px;
    height: 36px;
    background: #fccc0a;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    font: bold 25px 'Open Sans Condensed', sans-serif;
}

hr {
    height: 12px;
    margin: 20px 70px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.recent {
    width: 300px;
    margin: auto;
}
#news {
    width: 600px;
    max-width: 600px;
}

article dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

article dt {
    clear: both;
    float: left;
    height: 50px;
}
article dt img {
    width: 40px;
    height: 40px;
}

article dd {
    font: normal 20px 'Open Sans', sans-serif;
    padding: 5px;
    height: auto;
    text-align: left;
    line-height: 22px;
}

#lead {
    margin-bottom: 10px;
}

#lead dl {
    margin: auto;
    max-width: 800px;
    overflow: visible;
}
article dl dd {
    float: none;
}

#recent dl dd {
    height: 50px;
}

.ad {
    margin-bottom: 5px;
}
.center {
    margin: auto;
    text-align: center;
}
div.center > span {
    font-size:10px;
    color:#999;
    font-family:sans-serif;
}

/* HANDHELD-SPECIFIC */
@media only screen and ( min-width: 220px ) and ( max-width:727px ) {
article {
    margin: auto;
}
#news {
    max-width: 100%;
    width: 100%;
    margin: 0 30px;
}
}
/* TABLET-SPECIFIC */
@media only screen and ( min-width: 728px ) and (max-width:1023px) {
}
/* HANDHELD & TABLET */
@media only screen and ( min-width: 220px ) and (max-width:1023px) {
    h1 {
        font-size: 30px;
        line-height: 25px;
    }
    h2#timer-text, h2#yes-no {
        margin: -60px auto;
    }
    #lead p {
        margin: auto 10px;
    }
    #chart-wrapper {
        width: 100vw;
        overflow-x: scroll;
    }
}

/* CHART STYLES */
#chart-wrapper {}
#chart-wrapper figure {
}

.enter {
  fill: green;
}

.update {}

.exit {
  fill: brown;
}

div.tooltip {
  color: black;
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 5px;
  font-family: Futura;
  font: 12px sans-serif ;
  background: #FCB8C3FF;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.green:hover, .subway4:hover, .subway5:hover, .subway6:hover,
.green, .subway4, .subway5, .subway6 {
    fill: #00933c;
    stroke: #00933c;
}
.light-green:hover, .subwayG:hover,
.light-green, .subwayG {
    fill: #6cbe45;
    stroke: #6cbe45;
}
.red:hover, .subway2:hover, .subway3:hover, .subway1:hover,
.red, .subway2, .subway3, .subway1 {
    fill: #ee352e;
    stroke: #ee352e;
}
.purple:hover, .subway7:hover,
.purple, .subway7 {
    fill: #b933ad;
    stroke: #b933ad;
}
.blue:hover, .subwayA:hover, .subwayC:hover, .subwayE:hover,
.blue, .subwayA, .subwayC, .subwayE {
    fill: #2850ad;
    stroke: #2850ad;
}
.orange:hover, .subwayB:hover, .subwayM:hover, .subwayD:hover, .subwayF:hover,
.orange, .subwayB, .subwayM, .subwayD, .subwayF {
    fill: #ff6319;
    stroke: #ff6319;
}
.yellow:hover, .subwayN:hover, .subwayQ:hover, .subwayW:hover, .subwayR:hover,
.yellow, .subwayN, .subwayQ, .subwayW, .subwayR {
    fill: #fccc0a;
    stroke: #fccc0a;
}
.brown:hover, .subwayJ:hover, .subwayZ:hover,
.brown, .subwayJ, .subwayZ {
    fill: #996633;
    stroke: #996633;
}
.dark-grey:hover, 
.dark-grey {
    fill: #808183;
    stroke: #808183;
}
.grey:hover, .subwayL:hover,
.grey, .subwayL {
    fill: #a7a9ac;
    stroke: #a7a9ac;
}
circle:hover {
    fill: white!important;
    stroke-width: 5;
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

