{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}{% endblock breadcrumbs %}
{% block content %}


        <section id="lead">
            <h1>Is there a current MTA service alert?</h1>
            <h2 id="yes-no"></h2>
            <p>It has been <time id="timer-text"></time> since the previous MTA subway service alert</p>
            <dl></dl>
        </section>

{% include 'includes/ad02.html' %}

        <section class="chart" id="chart">
            <h2>Today in MTA alerts</h2>
            <p><em>Chart updates automatically every minute</em></p>
            <div>
                <img src="/static/img/day-chart.png" alt="">
            </div>
        </section>

        <section class="recent" id="recent">
            <h2>Recent MTA alerts</h2>
            <div>
                <dl></dl>
            </div>
        </section>

{% include 'includes/ad03.html' %}

        <section id="news" class="recent">
            <h2>Recent MTA news</h2>
            <ul>
            <?php echo file_get_contents('tag-mta-10.html'); ?>
            </ul>
            <ul>
            <li><a href="http://www.nydailynews.com/new-york/man-riding-subway-cars-dies-falling-bronx-tracks-article-1.3422599">Man riding between subway cars dies after falling on Bronx tracks</a> <span>(published 4 hours ago)</span></li>
<li><a href="http://www.nydailynews.com/new-york/man-threatens-tsa-agent-10-inch-knife-manhattan-subway-article-1.3420168">Man threatens TSA agent with 10-inch knife on Manhattan subway</a> <span>(published 23 hours ago)</span></li>
<li><a href="http://www.nydailynews.com/new-york/nyc-crime/fitness-fiend-slugs-mta-worker-chided-subway-pull-ups-article-1.3419489">Fitness fiend slugs MTA worker who chided him for subway pull-ups</a> <span>(published yesterday)</span></li>
<li><a href="http://www.nydailynews.com/new-york/man-slashed-face-wrist-canal-st-subway-stop-fight-article-1.3414580">Man slashed during fight in Manhattan subway station</a> <span>(published yesterday)</span></li>
<li><a href="http://www.nydailynews.com/new-york/nyc-crime/subway-grope-victim-sends-attempted-rapist-flying-escalator-article-1.3414647">Subway grope victim sends attempted rapist flying down escalator</a> <span>(published yesterday)</span></li>
<li><a href="http://www.nydailynews.com/new-york/subway-booth-clerk-accused-interfering-cops-pursuit-dies-article-1.3417807">Subway booth clerk accused of interfering with cops’ pursuit dies</a> <span>(published yesterday)</span></li>
<li><a href="http://www.nydailynews.com/new-york/nyc-crime/felon-7-years-setting-fire-mta-booth-robbery-article-1.3417349">Felon gets 7 years for setting fire to MTA booth during robbery</a> <span>(published yesterday)</span></li>
<li><a href="http://www.nydailynews.com/new-york/nyc-crime/man-wanted-molesting-13-year-old-girl-bronx-article-1.3415813">Man wanted for molesting 13-year-old girl in the Bronx</a> <span>(published 2 days ago)</span></li>
<li><a href="http://www.nydailynews.com/new-york/brooklyn/quiz-stops-line-article-1.3413230">QUIZ: How many stops on the L line can you name?</a> <span>(published 3 days ago)</span></li>
<li><a href="http://www.nydailynews.com/opinion/andrew-crosses-bridge-toll-spans-save-subway-article-1.3411531">Andrew crosses a bridge to toll the spans and save the subway</a> <span>(published 3 days ago)</span></li>
            </ul>
        </section>

<script src="static/js/app.js"></script>
{% endblock content %}
