body {
    width: 100%;
    margin: 0;
    background-color: #fafafa;
}

#rh-subnav {
    display: none;
}

article div {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
}

h2#timer-text {
    font-size: 250px;
    letter-spacing: -15px;
    color: #C70039;
    margin: -50px auto;
    text-align: center;
}

article p {
    font: bold 31px 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    color: #333;
    margin: auto;
    max-width: 800px;
    text-transform: uppercase;
    text-align: center;
}

.circle-yellow {
    width: 36px;
    height: 36px;
    background: #fccc0a;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    font: bold 25px 'Open Sans Condensed', sans-serif;
}

hr {
    height: 12px;
    margin: 70px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.recent {
    width: 275px;
    margin: auto;
}

article dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

article dt {
    clear: both;
    float: left;
    height: 50px;
}
article dt img {
    width: 40px;
    height: 40px;
}

article dd {
    font: normal 20px 'Open Sans', sans-serif;
    padding: 5px;
    height: 50px;
}

.center {
    margin: auto;
    text-align: center;
}
div.center > span {
    font-size:10px;
    color:#999;
    font-family:sans-serif;
}d
