body {
    width: 100%;
    margin: 0;
    background-color: #fafafa;
}

#rh-subnav {
    display: none;
}

div {
    text-align: center;
}

h1 {
    font: bold 250px 'Open Sans Condensed', sans-serif;
    color: #C70039;
    margin: -50px auto;
}

h3 {
    font: bold 40px 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color: #333;
}

p {
    font: bold 31px 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    color: #333;
    margin: auto;
    max-width: 800px;
    text-transform: uppercase;
}